PORT="3001"
DATABASE_URL="postgresql://postgres:root@localhost:5432/maintenance_genie"
MEDIA_URL="https://mg.anikstudio.com"

JWT_SECRET=""
MISTRAL_API_KEY=""
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""

MAIL_USERNAME=""
MAIL_PASSWORD=""
MAIL_FROM_NAME="Anik Hossain"
MAIL_FROM_ADDRESS=""