PORT="3001"
DATABASE_URL="postgresql://postgres:root@localhost:5432/maintenance_genie"
MEDIA_URL="https://mg.anikstudio.com"

JWT_SECRET="BnlfeDMdyE0PWhZLzidYj8dZHRZLwfz6QHoCBLfbwcjLsXKfTcWDqmSdWpy"
# MISTRAL_API_KEY="xm9RFWjvM6frXv3oiNzvsymSf2TVT1SJ"
MISTRAL_API_KEY="tgp_v1_S5qIL6J3YAMrxo6UURdUkpv__EIWnjHObsICPeYBD8M"
STRIPE_SECRET_KEY="sk_test_51S9gaf2dPIqhHYqnp3wEgBIvC1Hc3IdASQY5ULowOWiUsW27BR9GjoCLkynFY9zVNldYOkYtOJdIuM063qkYcG4y00CdHkcQH5"
STRIPE_WEBHOOK_SECRET="whsec_DNLfAk2GOvwOCCgjvhRAy3v2pI8EGHXB"

MAIL_USERNAME="anikhossain9120@gmail.com"
MAIL_PASSWORD="zxzr dplg chwr gxxw"
MAIL_FROM_NAME="Anik Hossain"
MAIL_FROM_ADDRESS="anikhossain9120@gmail.com"