PORT="6000"
DATABASE_URL="postgresql://postgres:root@localhost:5432/maintenance_genie"

JWT_SECRET="BnlfeDMdyE0PWhZLzidYj8dZHRZLwfz6QHoCBLfbwcjLsXKfTcWDqmSdWpy"
MISTRAL_API_KEY=""
STRIPE_SECRET_KEY="sk_test_xxx"
STRIPE_WEBHOOK_SECRET="whsec_xxx"

MAIL_USERNAME=""
MAIL_PASSWORD=""
MAIL_FROM_NAME=""
MAIL_FROM_ADDRESS=""